.best-proposition__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.best-proposition__container {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.best-proposition__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 380px;
  width: 380px;
  background-image: url("./img/proposition.png");
}
.best-proposition__special-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 380px;
  width: 380px;
  background-color: #B9A16B;
}
.best-proposition__image {
  width: 140px;
  color: #222222;
}
.best-proposition__special-image {
  width: 220px;
  color: #ffffff;
}
.best-proposition h3 {
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}
.best-proposition p {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 3px;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.best-proposition p::before {
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  width: 0;
  content: "";
  bottom: -7px;
  position: absolute;
  height: 2px;
  background-color: #222222;
}
.best-proposition p:hover::before {
  width: 70px;
}
.best-proposition h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 8px;
}
.best-proposition .best-proposition__special-item p.see-more {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 3px;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.best-proposition .best-proposition__special-item p.see-more::before {
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  width: 0;
  content: "";
  bottom: -7px;
  position: absolute;
  height: 2px;
  background-color: #ffffff;
}
.best-proposition .best-proposition__special-item p.see-more:hover::before {
  width: 70px;
}
.best-selling__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.best-selling__title {
  text-align: center;
}
.best-selling__cloth-options a {
  margin-right: 40px;
  color: #767676;
  position: relative;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.best-selling__cloth-options a.active {
  color: #222222;
}
.best-selling__cloth-options a.active::before {
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  content: "";
  bottom: -7px;
  position: absolute;
  width: 90%;
  height: 2px;
  background-color: #222222;
}
.best-selling__cloth-options a:hover {
  color: #222222;
}
.best-selling__cloth-options a:hover .best-selling__cloth-options a.active {
  color: #767676;
}
.best-selling__cloth-options a:hover::before {
  width: 90%;
}
.best-selling__cloth-options a::before {
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  content: "";
  bottom: -7px;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #222222;
}
.best-selling__cloth-options a:last-child {
  margin: 0;
}
.best-selling__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}
.best-selling__item {
  width: 280px;
}
.best-selling__image {
  width: 280px;
  height: 340px;
  position: relative;
  overflow: hidden;
}
.best-selling__image:hover .best-selling__cart {
  bottom: 0;
}
.best-selling__image img {
  height: 340px;
  width: 280px;
}
.best-selling__tip {
  color: #B9A16B;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 2px;
}
.best-selling__name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.best-selling__cost {
  margin-top: 8px;
  color: #767676;
}
.best-selling__cart {
  padding: 16px 0;
  background-color: #222222;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  width: 100%;
  bottom: -50.4px;
  left: 0;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.best-selling__like {
  position: absolute;
  color: #222222;
  background-color: #ffffff;
  top: 20px;
  right: 20px;
  border-radius: 20px;
  padding: 13px 12px 11px 12px;
}
.best-selling__like:active {
  background-color: #D6001C;
}
.best-selling__like:hover {
  color: #D6001C;
}
.best-selling__like:hover:active {
  color: #ffffff;
}
.best-selling__new {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  position: absolute;
  color: #222222;
  background-color: #ffffff;
  top: 20px;
  left: 0;
  width: 55px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
}
.best-selling__discont {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  position: absolute;
  color: #ffffff;
  background-color: #D6001C;
  top: 20px;
  left: 0;
  width: 55px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
}
.button {
  height: 60px;
  width: 340px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222222;
  border: none;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.button:hover {
  cursor: pointer;
  background-color: #B9A16B;
}
.cart {
  height: 100vh;
  width: 420px;
  background-color: #ffffff;
  margin-left: calc(100vw - 420px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  overflow-y: auto;
}
.cart__wrapper {
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.cart__actions {
  padding-bottom: 40px;
}
.cart__bag {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 30px 0;
}
.cart__heading {
  background-color: #FAF9F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 33px 40px 27px;
}
.cart__subtotal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #E4E4E4;
}
.cart__overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(34, 34, 34, 0.4);
  -webkit-transition-duration: 0.5s;
       -o-transition-duration: 0.5s;
          transition-duration: 0.5s;
  opacity: 1;
  visibility: visible;
}
.cart__overlay.hidden {
  opacity: 0;
  visibility: hidden;
}
.cart__overlay.hidden .cart {
  margin-left: 100vw;
}
.cart__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cart__view-cart {
  height: 60px;
  width: 340px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #E4E4E4;
  margin-bottom: 20px;
  margin-top: 20px;
  border: none;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.cart__view-cart:hover {
  cursor: pointer;
  background-color: rgba(185, 161, 107, 0.2);
}
.cart__checkout {
  height: 60px;
  width: 340px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222222;
  border: none;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.cart__checkout:hover {
  cursor: pointer;
  background-color: #B9A16B;
}
.cart__image {
  background-image: url("./img/bag.png");
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.cart .selector input {
  margin-right: 100px;
}
.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}
.cart__item:not(:first-child) {
  border-top: 1px solid #E4E4E4;
}
.cart__item:not(:last-child) {
  margin-bottom: 20px;
}
.cart__item h1 {
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
}
.cart__item h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #767676;
}
.cart__item span {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #222222;
}
.checkbox {
  display: block;
  position: relative;
  padding-left: 29px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox:last-of-type {
  margin-bottom: 30px;
}
.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  border: 2px solid #E4E4E4;
}
.checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox input:checked ~ .checkmark {
  background-color: #222222;
  border-color: #222222;
}
.checkbox input:checked ~ .checkmark::after {
  display: block;
}
.checkbox input:hover input ~ .checkmark {
  background-color: #ccc;
}
.checkout__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.checkout__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.checkout__group .input {
  width: 100%;
}
.checkout__group .input:not(:last-child) {
  margin-right: 30px;
}
.checkout__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 380px;
}
.checkout__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.checkout__form {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-right: 40px;
}
.checkout__total {
  padding: 38px 41px 22px;
  border: 1px solid #222222;
  margin-bottom: 20px;
}
.checkout__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.checkout__columns:not(:last-child) {
  border-bottom: 1px solid #E4E4E4;
}
.checkout__clothes-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.checkout__clothes-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.checkout__payment {
  padding: 38px 41px 22px;
  border: 1px solid #E4E4E4;
  margin-bottom: 20px;
  color: #222222;
}
.checkout__payment-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.checkout__payment-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.checkout__privacy-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}
.checkout__payment-name {
  padding-left: 10px;
  margin-top: 0;
}
.checkout__order {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  width: 380px;
  padding-top: 21px;
  padding-bottom: 15px;
  background-color: #222222;
  text-decoration: none;
  border: none;
  display: inline-block;
  color: #ffffff;
}
.checkout h2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.checkout h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
}
.checkout h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #222222;
  margin-bottom: 12px;
}
.checkout h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #767676;
  margin-bottom: 16px;
  margin-top: 13px;
}
.checkout textarea {
  padding: 12px 20px;
  width: 100%;
  height: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 2px solid #E4E4E4;
}
.checkout .input-radio {
  margin-top: 16px;
}
.checkout .input:not(:last-child) {
  margin-bottom: 30px;
}
.first-screen {
  height: calc(100vh - 40px);
  min-height: 700px;
  width: 100vw;
  background-image: url("./img/first-screen.png");
  margin-top: -70px;
}
.first-screen .wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.first-screen h3 {
  text-align: right;
  height: 24px;
  width: 150px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: -10px;
}
.first-screen h3::before {
  width: 50px;
  content: "";
  top: 11px;
  left: 0;
  position: absolute;
  height: 2px;
  background-color: #222222;
}
.first-screen h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 800;
  font-size: 70px;
  line-height: 80px;
}
.first-screen p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 54px;
}
.first-screen a {
  background-color: #ffffff;
  color: #222222;
  padding: 18px 48px 18px 78px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.first-screen a:hover {
  background-color: #222222;
  color: #ffffff;
}
.first-screen a:hover::before {
  background-color: #ffffff;
}
.first-screen a:active {
  background-color: #767676;
  color: #ffffff;
}
.first-screen a:active::before {
  background-color: #ffffff;
}
.first-screen a::before {
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  width: 20px;
  content: "";
  top: 28px;
  left: 48px;
  position: absolute;
  height: 2px;
  background-color: #222222;
}
.footer {
  padding-top: 93px;
  background-color: #222222;
  color: #ffffff;
  padding-bottom: 88px;
}
.footer input {
  background-color: #353535;
  color: #ffffff;
  border-color: #353535 !important;
}
.footer__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__discount {
  margin-top: 0;
}
.footer__get-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.footer__get-email .input {
  margin-top: 24px;
  width: 550px;
}
.footer__join {
  margin-top: 24px;
  margin-left: 20px;
  width: 150px;
  height: 48px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: none;
  background-color: #5C5C5C;
}
.footer__email-address {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__socials a {
  margin-top: 40px;
  color: #ffffff;
}
.footer__socials a:not(:last-child) {
  margin-right: 36px;
  color: #ffffff;
}
.footer__logo {
  margin-top: 90px;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__contact-info {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.footer__address {
  margin-top: 25px;
  color: #E4E4E4;
}
.footer__email {
  margin-top: 25px;
  color: #E4E4E4;
}
.footer__number {
  margin-top: 25px;
  color: #E4E4E4;
}
.footer__company {
  margin-top: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
}
.footer__shop {
  margin-top: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
}
.footer__help {
  margin-top: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
}
.footer__opening-time {
  margin-top: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
}
.footer a {
  color: #E4E4E4;
}

.softfooter {
  background-color: #222222;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  height: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.softfooter__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.softfooter__data {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #E4E4E4;
}
.softfooter__switcher a {
  position: relative;
  color: #ffffff;
  margin-right: 22px;
}
.softfooter__switcher a:first-child {
  margin-right: 27px;
}
.softfooter__switcher a::after {
  position: absolute;
  right: -22px;
  top: calc(50% - 4px);
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(./img/icons/arrow.svg);
}
header .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 0;
}
header .wrapper.home {
  padding: 8px 60px 8px 60px;
  margin: 0;
  width: calc(100% - 120px);
}

header.soft {
  background-color: #222222;
  color: #ffffff;
}
header.soft .text {
  position: absolute;
  left: calc(50% - 107px);
}
header.soft .links a {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 15px;
}
header.soft .personalisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header.soft .personalisation .socials a {
  color: #ffffff;
  margin-right: 24px;
}
header.soft .personalisation .switcher a {
  position: relative;
  color: #ffffff;
  margin-right: 22px;
}
header.soft .personalisation .switcher a:first-child {
  margin-right: 52px;
}
header.soft .personalisation .switcher a::after {
  position: absolute;
  right: -22px;
  top: calc(50% - 4px);
  content: "";
  width: 12px;
  height: 12px;
  background-image: url(./img/icons/arrow.svg);
}

header.main {
  color: #222222;
  margin-top: 30px;
}
header.main .links a {
  position: relative;
  color: #222222;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-right: 15px;
}
header.main .links a::before {
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  width: 0;
  content: "";
  bottom: -7px;
  position: absolute;
  height: 2px;
  background-color: #222222;
}
header.main .links a:hover::before {
  width: 90%;
}
header.main .logo a {
  position: absolute;
  left: calc(50% - 54px);
}
header.main .icons a {
  margin-right: 30px;
}
header.main .icons a:last-child {
  margin: 0;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input {
  position: relative;
}
.input input {
  padding: 12px 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 2px solid #E4E4E4;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.input input:not(:-moz-placeholder-shown) {
  border-color: #222222;
}
.input input:not(:-ms-input-placeholder) {
  border-color: #222222;
}
.input input:focus, .input input:not(:placeholder-shown) {
  border-color: #222222;
}
.input input:not(:-moz-placeholder-shown) ~ label {
  color: #222222;
  top: -8px;
  left: 19px;
  padding: 0 4px;
}
.input input:not(:-ms-input-placeholder) ~ label {
  color: #222222;
  top: -8px;
  left: 19px;
  padding: 0 4px;
}
.input input:focus ~ label, .input input:not(:placeholder-shown) ~ label {
  color: #222222;
  top: -8px;
  left: 19px;
  padding: 0 4px;
}
.input label {
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  background-color: #ffffff;
  color: #767676;
  position: absolute;
  left: 22px;
  top: 14px;
  font-size: 14px;
}

.number {
  position: relative;
}
.number input[type=number] {
  border: 2px solid #E4E4E4;
  text-align: center;
  padding: 5px 43px !important;
  width: 30px !important;
  -moz-appearance: textfield;
}
.number .plus {
  color: #767676;
  position: absolute;
  right: 21px;
  top: 19px;
  margin-right: 21px;
}
.number .minus {
  color: #767676;
  position: absolute;
  left: 21px;
  top: 19px;
}
.main-cart .container {
  margin-top: 100px;
  margin-bottom: 100px;
}
.main-cart .container h1 {
  color: #222222;
  font-weight: 700;
  font-size: 35px;
  line-height: 49px;
  margin-bottom: 50px;
}
.main-cart .shoping-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  padding-bottom: 10px;
  border-bottom: 2px solid #E4E4E4;
}
.main-cart .steps {
  width: 420px;
}
.main-cart .steps-active {
  position: relative;
  width: 420px;
}
.main-cart .steps-active::before {
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  width: 100%;
  content: "";
  bottom: -12px;
  position: absolute;
  height: 2px;
  background-color: #222222;
}
.main-cart .steps-active h3 {
  color: #222222 !important;
}
.main-cart .step-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-cart .step-name h3 {
  margin-bottom: 0;
  color: #767676;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.main-cart .step-name h3:first-child {
  margin-right: 12px;
}
.main-cart .step-info {
  padding-left: 30px;
  padding-top: -30px;
}
.main-cart .step-info span {
  margin-top: 0px;
  color: #767676;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
.main-cart .shoping-conteiner {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-cart .shoping-bag {
  margin-right: 60px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.main-cart .bag-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #E4E4E4;
  padding-bottom: 9px;
}
.main-cart .bag-info span {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.main-cart .bag-info span:first-child {
  padding-right: 250px;
}
.main-cart .bag-info span:last-child {
  margin-right: 50px;
}
.main-cart .item {
  position: relative;
  padding: 30px 0;
  border-bottom: 1px solid #E4E4E4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-cart .item h3 {
  margin-left: 30px;
  margin-right: 140px;
  color: #222222;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.main-cart .item h4 {
  color: #767676;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin-right: 50px;
}
.main-cart .item h5 {
  margin-left: 35px;
  color: #222222;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.main-cart .item input {
  padding: 5px 16px;
  width: 60px;
  height: 45px;
  margin-right: 20px;
}
.main-cart .close {
  margin-left: 50px;
}
.main-cart .button-case {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-cart .updata-card .button {
  color: #222222;
  width: 200px;
  background-color: #E4E4E4;
}
.main-cart .updata-card .button:hover {
  color: #ffffff;
  background-color: #B9A16B;
}
.main-cart .coupon-apply {
  width: 300px;
}
.main-cart .coupon-apply input {
  height: 60px;
}
.main-cart .coupon-apply input:not(:-moz-placeholder-shown) {
  border-color: #222222;
}
.main-cart .coupon-apply input:not(:-ms-input-placeholder) {
  border-color: #222222;
}
.main-cart .coupon-apply input:focus, .main-cart .coupon-apply input:not(:placeholder-shown) {
  border-color: #222222;
}
.main-cart .coupon-apply input:not(:-moz-placeholder-shown) ~ label {
  top: -8px;
  left: 170px;
  padding: 0 4px;
}
.main-cart .coupon-apply input:not(:-ms-input-placeholder) ~ label {
  top: -8px;
  left: 170px;
  padding: 0 4px;
}
.main-cart .coupon-apply input:focus ~ label, .main-cart .coupon-apply input:not(:placeholder-shown) ~ label {
  top: -8px;
  left: 170px;
  padding: 0 4px;
}
.main-cart .coupon-apply label {
  color: #222222;
  left: 170px;
  top: 23px;
  font-size: 14px;
}
.main-cart .shoping-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  height: 380px;
  padding: 38px 41px;
  border: 1px solid #222222;
  margin-bottom: 20px;
}
.main-cart .shoping-info h1 {
  color: #222222;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.main-cart .subtotal {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E4E4E4;
}
.main-cart .subtotal h3 {
  margin-top: 0;
  color: #222222;
  width: 300px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.main-cart .subtotal span {
  margin-right: 100px;
  color: #222222;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.main-cart .shipping {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E4E4E4;
  margin-bottom: 23px;
}
.main-cart .shipping h3 {
  margin-top: 0;
  color: #222222;
  width: 300px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.main-cart .checkbox {
  margin-bottom: 14px;
}
.main-cart .checkbox:not(:first-child) {
  margin-top: 20px;
}
.main-cart .address-change {
  margin-top: 0px;
  margin-bottom: 23px;
}
.main-cart .address-change span {
  color: #222222;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.main-cart .address-change a {
  color: #222222;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.main-cart .address-change a::before {
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  width: 0;
  content: "";
  left: -93px;
  bottom: -7px;
  position: absolute;
  height: 2px;
  background-color: #222222;
}
.main-cart .address-change a:hover::before {
  width: 110px;
}
.main-cart .vat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #E4E4E4;
  margin-bottom: 14px;
}
.main-cart .vat h3 {
  margin-top: 0;
  color: #222222;
  width: 185px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.main-cart .vat span {
  text-align: left;
  color: #222222;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.main-cart .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-cart .total h3 {
  margin-top: 0;
  color: #222222;
  width: 185px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.main-cart .total span {
  text-align: left;
  color: #222222;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.main-cart .checkout a {
  width: 404px;
}
body {
  font-family: "sofia-pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.close {
  height: 16px;
  width: 16px;
  background-image: url("./img/icons/close.svg");
}

.shop-category__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.shop-category__title {
  text-align: center;
  margin-top: 100px;
}
.shop-category__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}
.shop-category__item img {
  width: 230px;
}
.shop-category__tip {
  text-align: center;
  color: #222222;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 2px;
}
.shop-category__products {
  text-align: center;
  margin-top: 5px;
  color: #767676;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.new-collection {
  margin-top: 72px;
  background-image: url("./img/productBack.png");
}
.new-collection__container {
  text-align: center;
  padding: 200px 0;
  width: 100%;
}
.new-collection__container h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 84px;
  color: #ffffff;
  margin-bottom: 0;
}
.new-collection__container p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 46px;
}
.new-collection__container a {
  width: 210px;
  padding: 18px 68px 13px 68px;
  background-color: #ffffff;
  color: #222222;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.latest-prdoucts__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.latest-prdoucts__title {
  margin-top: 92px;
  text-align: center;
}
.latest-prdoucts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 32px;
}
.latest-prdoucts__image img {
  width: 280px;
}
.latest-prdoucts__tip {
  margin-top: 12px;
  margin-bottom: 2px;
  color: #B9A16B;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.latest-prdoucts__name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.latest-prdoucts__cost {
  margin-top: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #767676;
}
.latest-prdoucts____cost-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.latest-prdoucts__last-cost {
  color: #767676;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}
.latest-prdoucts__new-cost {
  color: #222222;
}

.latest-news {
  margin-bottom: 96px;
}
.latest-news__wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.latest-news__title {
  margin-top: 52px;
  text-align: center;
}
.latest-news__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 34px;
}
.latest-news__item img {
  width: 390px;
  height: 240px;
  margin-bottom: 0;
}
.latest-news__info {
  margin-top: 5px;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #767676;
}
.latest-news__short {
  margin-top: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #222222;
}
.product .info {
  padding-top: 55px;
}
.product .preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}
.product .images {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 50px;
}
.product .main-image {
  width: 550px;
  height: 490px;
}
.product .soft-image {
  width: 90px;
}
.product .soft-image:not(:last-child) {
  margin-bottom: 8px;
}
.product .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 8px;
}
.product .main-info {
  width: 500px;
}
.product .breadcrumbs {
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product .links a {
  color: #222222;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.product .buttons {
  padding-right: 15px;
}
.product .buttons a {
  color: #222222;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.product .buttons a:first-child {
  margin-right: 29px;
}
.product .about p {
  color: #222222;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.product .name {
  color: #222222;
  font-weight: 400;
  font-size: 26px;
  line-height: 35px;
}
.product .cost {
  color: #222222;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
}
.product .size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product .guide {
  color: #222222;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  position: relative;
}
.product .guide:hover::before {
  width: 90%;
}
.product .guide::before {
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  content: "";
  bottom: -7px;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #222222;
}
.product .color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.product .color h3 {
  color: #222222;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-right: 39px;
}
.product .size-wish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product .size-wish h3 {
  color: #222222;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  margin-right: 50px;
}
.product .size-wish a {
  color: #222222;
  padding: 6px 13px 6px 13px;
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 1px solid #E4E4E4;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.product .size-wish a:not(:last-child) {
  margin-right: 8px;
}
.product .size-wish a.active {
  color: #222222;
  border-width: 1px;
  border-color: #222222;
}
.product .wish {
  margin-top: 30px;
}
.product .wish a {
  margin-top: 30px;
  color: #222222;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  position: relative;
}
.product .wish a:first-child {
  margin-right: 33px;
}
.product .wish a:hover::before {
  width: 90%;
}
.product .wish a::before {
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  content: "";
  bottom: -7px;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #222222;
}
.product .add-to-cart {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.product .add-to-cart input {
  padding: 5px 16px;
  width: 60px;
  height: 45px;
  margin-right: 20px;
}
.product .description {
  margin-bottom: 100px;
  width: 930px;
  padding-left: 155px;
}
.product .description-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.product .description-title a {
  margin-right: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #767676;
  position: relative;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.product .description-title a.active {
  color: #222222;
}
.product .description-title a.active::before {
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  content: "";
  bottom: -7px;
  position: absolute;
  width: 90%;
  height: 2px;
  background-color: #222222;
}
.product .description-title a::before {
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  content: "";
  bottom: -7px;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #222222;
}
.product .description-title a:active {
  color: #222222;
}
.product .description-title a:active::before {
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  content: "";
  bottom: -7px;
  position: absolute;
  width: 90%;
  height: 2px;
  background-color: #222222;
}
.product .main-description {
  padding-top: 55px;
  color: #222222;
}
.product .main-description h1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.product .main-description p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.product .soft-description {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product .soft-description h1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.product .soft-description ul {
  margin-left: -20px;
  margin-top: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.product .soft-description ol {
  margin-left: -20px;
  margin-top: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.product .lining {
  margin-top: 40px;
}
.product .lining h1 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}
.product .lining p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.related-products {
  padding-bottom: 100px;
}
.related-products h1 {
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.related-products .products-cloth-options a {
  margin-right: 40px;
  color: #767676;
  position: relative;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.related-products .products-cloth-options a.active {
  color: #222222;
}
.related-products .products-cloth-options a.active::before {
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  content: "";
  bottom: -7px;
  position: absolute;
  width: 90%;
  height: 2px;
  background-color: #222222;
}
.related-products .products-cloth-options a:hover {
  color: #222222;
}
.related-products .products-cloth-options a:hover .products-cloth-options a.active {
  color: #767676;
}
.related-products .products-cloth-options a:hover::before {
  width: 90%;
}
.related-products .products-cloth-options a::before {
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
  content: "";
  bottom: -7px;
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #222222;
}
.related-products .products-cloth-options a:last-child {
  margin: 0;
}
.related-products .products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}
.related-products .products-item {
  width: 280px;
}
.related-products .products-image {
  width: 280px;
  height: 340px;
  position: relative;
  overflow: hidden;
}
.related-products .products-image:hover .products-cart {
  bottom: 0;
}
.related-products .products-image img {
  height: 340px;
  width: 280px;
}
.related-products .this-products-info {
  width: 330px;
  position: relative;
}
.related-products .products-like {
  position: absolute;
  color: #222222;
  background-color: #ffffff;
  top: -10px;
  right: 40px;
  border-radius: 20px;
  padding: 13px 12px 11px 12px;
}
.related-products .products-like:active {
  background-color: #D6001C;
}
.related-products .products-like:hover {
  color: #D6001C;
}
.related-products .products-like:hover:active {
  color: #ffffff;
}
.related-products .products-tip {
  color: #767676;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
}
.related-products .products-name {
  margin-top: 0;
  margin-bottom: 0;
  color: #222222;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.related-products .products-cost {
  margin-top: 8px;
  color: #767676;
}
.related-products .products-cart {
  padding: 16px 0;
  background-color: #222222;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  width: 100%;
  bottom: -50.4px;
  left: 0;
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.related-products .products-new {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  position: absolute;
  color: #222222;
  background-color: #ffffff;
  top: 20px;
  left: 0;
  width: 55px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
}
.related-products .products-discont {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  position: absolute;
  color: #ffffff;
  background-color: #D6001C;
  top: 20px;
  left: 0;
  width: 55px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */
